
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #74ebd5,rgb(136, 149, 207));
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 450px;
}

h1 {
    color: #333333;
    font-size: 2rem;
    margin-bottom: 20px;
}

p {
    color: #555555;
    font-size: 1rem;
    margin-bottom: 30px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.buttons a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.buttons .btn-masuk{
    background: #64c8ff;
}
.btn-masuk:hover {
    background: #41b9ff;
}

.buttons .btn-daftar{
    background: #70e08b;
}
.btn-daftar:hover {
    background: #54cc75;
}
.footer {
    margin-top: 20px;
    font-size: 0.9rem;
    color: #777777;
}

.footer a {
    color: #ff7e5f;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}